.Navbar {
  padding: 0;
  margin: 0;
  align-items: center;
  position: sticky;
  background-color: white;
  text-align: center;
  justify-content: center;
}

.head {
  display: flex;
  align-items: center;
  flex: 0.49;
}
ul {
  display: flex;
}

li > img {
  /* margin: 0;
  padding: 0; */
  width: 7vh;
  height: 7vh;
  border-radius: 28px;
}

.Navbar_body {
  display: flex;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  list-style-type: none;
}

a:-webkit-any-link {
  display: flex;
  align-items: center;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
  padding: 6px;
  text-decoration: none;
  font-size: larger;
}

a:-webkit-any-link:hover {
  font-size: medium;
  background-color: black;
  color: white;
  border: 1px solid whitesmoke;
  border-radius: 8px;
}
